@model LaboUSER.Areas.user.Models.loginmodel
@{
    ViewBag.Title = "Login";
    Layout = "~/Areas/user/Views/Shared/_Layout.cshtml";
}
<div class="logincard">
    <div class="pmd-card card-default pmd-z-depth">
        <div class="login-card">
            <form method="post">
                <div class="pmd-card-title card-header-border text-center">
                    <div class="loginlogo">
                        <a href="/">
                            @*<img src="/themes/images/logo-icon.png" alt="Logo"></a>*@
                            <img src="/images/logo.png" alt="logo"></a>
                    </div>
                    <h3>Sign In <span>with <strong>Hardy Hat</strong></span></h3>
                </div>

                <div class="pmd-card-body">
                    @if (@TempData["LoginError"] != null)
                    {
                        <div class="alert-danger">@TempData["LoginError"]</div>
                    }
                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label for="inputError1" class="control-label pmd-input-group-label">Email</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="material-icons md-dark pmd-sm">perm_identity</i></div>
                            @Html.TextBoxFor(model => model.email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.email, "", new { @style = "color:red;" })
                        </div>
                    </div>

                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label for="inputError1" class="control-label pmd-input-group-label">Password</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="material-icons md-dark pmd-sm">lock_outline</i></div>
                            @Html.PasswordFor(model => model.password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.password, "", new { @style = "color:red;" })
                        </div>
                    </div>
                </div>
                <div class="pmd-card-footer card-footer-no-border card-footer-p16 text-center">
                    <div class="form-group clearfix">
                        <div class="checkbox pull-left">
                            <label class="pmd-checkbox checkbox-pmd-ripple-effect">
                                <input type="checkbox" checked="" value="">
                                <span class="pmd-checkbox">Remember me</span>
                            </label>
                        </div>
                        <span class="pull-right forgot-password">
                            <a href="javascript:void(0);">Forgot password?</a>
                        </span>
                    </div>
                    <button href="/User/Home/UserHome" type="submit" class="btn pmd-ripple-effect btn-primary btn-block">Login</button>

                    <p class="redirection-link">Don't have an account? <a href="/signup/" class="login-register">Sign Up</a>. </p>

                </div>

            </form>
        </div>

        <div class="register-card">
            <div class="pmd-card-title card-header-border text-center">
                <div class="loginlogo">
                    <a href="javascript:void(0);">
                        <img src="/themes/images/logo-icon.png" alt="Logo"></a>
                </div>
                <h3>Sign Up <span>with <strong>Hardy Hat</strong></span></h3>
            </div>
            <form>
                <div class="pmd-card-body">

                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label for="inputError1" class="control-label pmd-input-group-label">Username</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="material-icons md-dark pmd-sm">perm_identity</i></div>
                            <input type="text" class="form-control" id="exampleInputAmount">
                        </div>
                    </div>

                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label for="inputError1" class="control-label pmd-input-group-label">Email address</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="material-icons md-dark pmd-sm">email</i></div>
                            <input type="text" class="form-control" id="exampleInputAmount">
                        </div>
                    </div>

                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label for="inputError1" class="control-label pmd-input-group-label">Password</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="material-icons md-dark pmd-sm">lock_outline</i></div>
                            <input type="text" class="form-control" id="exampleInputAmount">
                        </div>
                    </div>
                </div>

                <div class="pmd-card-footer card-footer-no-border card-footer-p16 text-center">
                    <a href="index.html" type="button" class="btn pmd-ripple-effect btn-primary btn-block">Sign Up</a>
                    <p class="redirection-link">Already have an account? <a href="/User/Home/UserHome" class="register-login">Sign In</a>. </p>
                </div>
            </form>
        </div>

        <div class="forgot-password-card">
            <form>
                <div class="pmd-card-title card-header-border text-center">
                    <div class="loginlogo">
                        <a href="javascript:void(0);">
                            <img src="/themes/images/logo-icon.png" alt="Logo"></a>
                    </div>
                    <h3>Forgot password?<br>
                        <span>Submit your email address and we'll send you a link to reset your password.</span></h3>
                </div>
                <div class="pmd-card-body">
                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label for="inputError1" class="control-label pmd-input-group-label">Email address</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="material-icons md-dark pmd-sm">email</i></div>
                            <input type="text" class="form-control" id="exampleInputAmount">
                        </div>
                    </div>
                </div>
                <div class="pmd-card-footer card-footer-no-border card-footer-p16 text-center">
                    <a href="index.html" type="button" class="btn pmd-ripple-effect btn-primary btn-block">Submit</a>
                    <p class="redirection-link">Already registered? <a href="javascript:void(0);" class="register-login">Sign In</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
